.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.leftblock {
  width: 40%;
  height: 100%;
  padding: 20px;
}
.dekor {
  height: 100%;
  border-radius: 16px;
  box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.16);
}

.leftblock__logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.leftblock__logo p {
  margin-top: 8px;
  width: 75%;
  text-align: center;
  font-size: 14px;
  color: #637381;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.leftblock__picture {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  height: 80%;
}
.leftblock__picture {
  max-height: 100%;
}
.rightblock {
  width: 60%;
  height: 100%;
}
.rightblock__heading {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.twoflag {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rightblock__form {
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.rightblock__form_inner {
  width: 50%;
}
.rightblock__form_inner h2 {
  margin-top: 40px;
}

.rightblock__bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.flex {
  padding-right: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.parag {
  margin-top: 8px;
}
.inp {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  padding: 10px;
  margin-top: 40px;
  font-weight: 400;
  outline: none;
  border: 1px solid rgba(145, 158, 171, 0.32);
}
.btnResetPassword {
  width: 100%;
  height: 48px;
  color: white;
  background: #8f3abc;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
}
.formaParag {
  margin-top: 8px;
  color: #637381;
  font-size: 16px;
}
.formaParag2 {
  margin-top: 40px;
}
.wrapper__inp {
  position: relative;
}
.noblock {
  display: none;
}

.inp1__userid {
  color: #919eab;
  font-size: 12px;
  font-weight: 400;
  display: block;
  position: absolute;
  background-color: white;
  top: 42%;
  transform: translateY(-50%);
  left: 10px;
}
.wrapperEye {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}
.noblock {
  display: none;
}

.bordred {
  border: 1px solid red;
}

.inp2__password {
  color: #919eab;
  font-size: 12px;
  font-weight: 400;
  display: block;
  position: absolute;
  background-color: white;
  top: 41%;
  transform: translateY(-50%);
  left: 10px;
}
.redText {
  color: red;
}
